- model_class = MagazineDocument
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:supplier_id) + ':'
  %br
  = Supplier.find(@magazine_document.supplier_id).description
%p
  %strong= model_class.human_attribute_name(:commodity_id) + ':'
  %br
  = Commodity.find(@magazine_document.commodity_id).name
%p
  %strong= model_class.human_attribute_name(:quanity_gross) + ':'
  %br
  = @magazine_document.quanity_gross
%p
  %strong= model_class.human_attribute_name(:quanity_tare) + ':'
  %br
  = @magazine_document.quanity_tare
%p
  %strong= model_class.human_attribute_name(:quanity_net) + ':'
  %br
  = @magazine_document.quanity_net
%p
  %strong= model_class.human_attribute_name(:date) + ':'
  %br
  = @magazine_document.date
%p
  %strong= model_class.human_attribute_name(:current_number) + ':'
  %br
  = @magazine_document.current_number
%p
  %strong= model_class.human_attribute_name(:humidity) + ':'
  %br
  = @magazine_document.humidity
%p
  %strong= model_class.human_attribute_name(:contamination) + ':'
  %br
  = @magazine_document.contamination
%p
  %strong= model_class.human_attribute_name(:document_type) + ':'
  %br
  = @magazine_document.document_type
%p
  %strong= model_class.human_attribute_name(:vehicle_number) + ':'
  %br
  = @magazine_document.vehicle_number
%p
  = link_to t('print'), pdf_path(@magazine_document), class: 'btn btn-primary'

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), magazine_documents_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_magazine_document_path(@magazine_document), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), magazine_document_path(@magazine_document), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
